{{partial 'system/nav'}}

{{#if item}}
    <h2 class='well'>
        {{item.name}}
        {{#if item.abbreviation}}
            ({{item.abbreviation}})
        {{/if}}
    </h2>

    <div class='row'>
        <div class='col-md-6 col-sm-12'>
            {{#if item.description}}
                <p>{{item.description}}</p>
            {{/if}}

            {{#if item.link}}
                <p>For more information visit - {{{item.linkTo}}}</p>
            {{/if}}
        </div>

        <div class='col-md-6 col-sm-12 image-detail'>
            {{{item.imageDisplay}}}
        </div>
    </div>
{{else}}
    The universe with the name {{name}} could not be found.
{{/if}}
